img{
    height: 200px;
    width: 200px;
}
#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}


#pink{
    color: pink;
}

#brown{
    color: brown;
}

#purple{
    color: purple;
}

#grey{
    color: grey;
}
